Datasets/*

# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
share

# venv
venv

# Ignore log files
Testing/.logs/*

temp/*

# Ignore test presentation images
Presentation_Data

# Ignore local files
fucking_work_please.ipynb
show_me_files.py
Testing/.gitattributes